.App {
  text-align: center;
}
body{
  background-color: rgb(236, 231, 231);
  
}

.arr{
  background-image: linear-gradient(rgb(88, 85, 85), white);
}

.appe{
  background-image: linear-gradient(rgb(58, 53, 53),rgb(245, 239, 239));
  color: aliceblue;
}
.movie-poster{
  width: 350px;
  object-fit: cover;
  height: 550px;
  background-color: rgb(236, 231, 231);
}
.movie{
  width: 350px;
  background-color: rgb(236, 231, 231);

}
.movie-list{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(236, 231, 231);
}
.kii{
  display: flex;
  gap: 20px;
  padding-left: 80px;
}
.movie-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
}
.adhi{
  background-image: linear-gradient(rgb(88, 85, 85), white);
}